.buildcanvas {
  width: 30.25rem;
  height: 12.75rem;
}

.buildcanvasmobile {
  width: 15.125rem;
  height: 6.375rem;
}

.canvascontainer {
  height: 100vh;
}

.taller-button {
  height: 40px; /* Adjust the height value as per your requirement */
  width: auto;
}

.buildtitle {
  font-size: 1.5rem;
}
