.jumbotron {
  color: white;
  background-image: url("../Images/sandwich-display.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.jumbotron-color {
  color: white;
  background-color: #15aabf;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.jumbotron-white {
  color: black;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.bg-geometric-blue {
  color: white;
  background-image: url("../Images/background-blue.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 80vh;
}

.bg-geometric-orange {
  color: white;
  background-image: url("../Images/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.round-img {
  border-radius: 50%;
  align-self: center;
}

.navbar {
  background-color: #15aabf;
}

.btn-primary {
  background-color: #fab005 !important;
  border-color: #fab005 !important;
}

.btn-primary:hover {
  background-color: #ffe066 !important;
  border-color: #ffe066 !important;
}

.accent-text {
  color: #fab005;
}

.underline-text {
  text-decoration: underline;
}

.homebackground-jumbo {
  z-index: 10;
}
