.jumbotron {
  color: white;
  background-image: url("../Images/sandwich-display.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.jumbotron-color {
  color: white;
  background-color: #15aabf;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.jumbotron-white {
  color: black;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.bg-geometric-blue {
  color: white;
  background-image: url("../Images/background-blue.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 80vh;
}

.bg-geometric-orange {
  color: white;
  background-image: url("../Images/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.round-img {
  border-radius: 50%;
  align-self: center;
}

.background-review {
  background-color: rgba(21, 170, 191, 1);
}

.bg-orange {
  background-color: rgba(250, 176, 5, 1);
}

.bg-blue {
  background-color: #15aabf;
}

.bg-white {
  background-color: #fff;
}

.navbar {
  background-color: rgb(21, 170, 191);
}

.btn-primary {
  background-color: rgb(250, 176, 5) !important;
  border-color: #fab005 !important;
}

.btn-primary:hover {
  background-color: #ffe066 !important;
  border-color: #ffe066 !important;
}

.accent-text {
  color: #fab005;
}

.review-text {
  font-size: 1.5rem;
}

.underline-text {
  text-decoration: underline;
}

.homebackground-jumbo {
  z-index: 10;
}

.circle-image {
  border-radius: 4rem;
  box-shadow: 0 0.19989rem 0.59968rem rgba(10, 10, 10, 0.3);
}

.benefit-header {
  font-size: 2rem;
}

.benefit-body {
  font-size: 1.2rem;
}

.list-items {
  font-size: 2rem;
}

.transparent-bg {
  background-color: rgba(87, 87, 87, 0.8);
}
